# Modelo do Ollama a ser utilizado (Padrão: gemma:2b)
OLLAMA_MODEL=gemma:2b

# (Opcional) Configurações para habilitar o LangSmith Tracing
# LANGCHAIN_TRACING_V2=true
# LANGCHAIN_API_KEY="sua_chave_langsmith"
# LANGCHAIN_PROJECT="NuBridge_ProjetoFinal"
